* {
 box-sizing: border-box;
}

body {
 margin: 0;
 font-family: 'Lato', sans-serif;
 font-size: 20px;
 font-weight: 400;
 line-height: 1.5;
 color: #2b1919;
 background-color: rgb(231, 229, 229);
}

.wrapper {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 max-width: 1440px;
 margin: 0 auto;
 background-color: rgb(255, 255, 255);
}

.header,
.footer {
 background-color: rgb(8, 94, 72);
}

.main {
 background-image: url(img/Background.jpg);
 background-size: cover;
 background-color: rgb(207, 231, 223);
}

h1 {
 margin: 50px;
 font-size: 36px;
 font-weight: 700;
 text-align: center;
}

h1,
h2 {
 color: rgb(41, 3, 77);
}

.container {
 display: flex;
 flex-wrap: wrap;
 margin: 0 auto;
}

.section {
 width: 50%;
 padding: 0 65px 0 90px;
 border-bottom: 3px dotted rgba(126, 184, 19, 0.4);
}

@media (max-width: 768px) {
 .section {
  width: 100%;
 }
}

.link,
.footer-list {
 display: flex;
 justify-content: space-around;
 padding: 15px 5px;
}

a {
 margin-right: 10px;
 font-size: 16px;
 text-decoration: none;
 font-weight: 400;
 color: white;
 transition: color 0.5s;
}

.list a {
 font-size: 20px;
 font-weight: 700;
 color: rgb(117, 54, 201);
}

.footer-link {
 font-size: 22px;
 color: #000000;
}

a:hover,
.footer-link:hover {
 text-decoration: underline;
 color: rgb(187, 14, 14);
}

.section img {
 padding-left: 70px;
}

a img {
 width: 100px;
}

.list-items {
 font-style: italic;
}

ul {
 list-style-type: none;
}

.bold {
 font-weight: 700;
}
